{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="quick-benefits-bar">
        <div class="benefits-bar">
            <li><span class="check">&#10004;</span> Stay home safe</li>
            <li><span class="check">&#10004;</span> Easy & convenient</li>
            <li><span class="check">&#10004;</span> Quality Guaranteed</li>
        </div>
    </div>
    <div class="container">
            <h1 class="offer-heading">Do you want to ship products from China to Kenya but don't know where to start and how to find genuine suppliers? Are you stuck finding the best, reliable, and trusted shipping agents to ship your cargo from China to Kenya?</h1>
           
            <p class="offer-subheading">Well, we connect you with genuine products suppliers in China and connect you with trusted shipping agents, so it becomes easier for you to import from China to Kenya. <stron">Our services are FREE</strong></p>
            <div class="cta-btns">
                <a class="shipping-btn" href="mailto:kibetharon41@gmail.com">Connect with us on email<span class="ship-arrow">&#10148;</span></a>
                <a class="shopping-btn" href="https://api.whatsapp.com/send?phone=254718448461">Chat with us on WhatsApp<span class="shop-arrow">&#10148;</span></a>
            </div>
    </div>
    <div class="more-details">
        <div class="part-1">
            <div class="part-1-caption">
                <h2>Get value for your money</h2>
                <p>Avoid counerfeit products from fake Chinese 'suppliers'. We source from genuine manufacturers and suppliers only. This means you only get quality products. In case you don't get quality products like we promise, which is very unlikely, we have systems in place to make sure you get your money back.</p>
                <div class="part-1-email-btn"><a href="mailto:kibetharon41@gmail.com">Talk to us on email &#8594;</a></div>
                <div class="part-1-btn"><a href="https://api.whatsapp.com/send?phone=254718448461">Chat with us on WhatsApp &#8594;</a></div>
            </div>
            <div class="part-1-img"><img src="{% static 'images/qualityblue.jpeg' %}" alt="image of quality quarantee"></div>
        </div>
        <div class="part-2">
            <div class="part-2-img"><img src="{% static 'images/stayhome.jpeg' %}" alt="stay home and stay safe image"></div>
            <div  class="part-2-caption">
                <h2>Stay Home. Stay Safe</h2>
                <p>Leave the 'dirty work to us' at the same time following COVID 19 regulations. We will shop and ship on your behalf so you can stay safe at home. We will always keep you updated on the progress of your order</p>
                <div class="part-1-email-btn"><a href="mailto:kibetharon41@gmail.com">Talk to us on email &#8594;</a></div>
                <div class="part-1-btn"><a href="https://api.whatsapp.com/send?phone=254718448461">Chat with us on WhatsApp &#8594;</a></div>
            </div>
        </div>
        <div class="part-3">
            <div class="part-3-caption">
                <h2>Save time and money</h2>
                <p>There are 3 options to import from China to Kenya.
                    #1 Source for products and also look for reliable shipping agents by yourself. Searching and vetting suppliers on Alibaba takes time. It's also a lot risky.
                    #2 Pay a sourcing agent to do it on your behalf. <strong>Pay</strong>. That means you have to spend money for their services
                    #3 Use us and save both time and money. Yes, we offer services of sourcing agents <strong>FREE</strong> of charge.
                </p>
                <div class="part-1-email-btn"><a href="mailto:kibetharon41@gmail.com">Talk to us on email &#8594;</a></div>
                <div class="part-1-btn"><a href="https://api.whatsapp.com/send?phone=254718448461">Chat with us on WhatsApp &#8594;</a></div>
            </div>
            <div class="part-3-img"><img src="{% static 'images/savetime.jpeg' %}" alt="save time and money image"></div>
        </div>
        <div class="part-4">
            <div class="part-4-img"><img src="{% static '/images/customersupport.jpeg' %}" alt="quality support image"></div>
            <div class="part-4-caption">
                <h2>Quality support</h2>
                <p>We are always there for you whenever you need us. Your success is our success. We will always reply to your contacts personally and as soon as possible</p>
                <div class="part-1-email-btn"><a href="mailto:kibetharon41@gmail.com">Talk to us on email &#8594;</a></div>
                <div class="part-1-btn"><a href="https://api.whatsapp.com/send?phone=254718448461">Chat with us on WhatsApp &#8594;</a></div>
            </div>
        </div>
    </div>
    <div class="aboutus">
        <div class="about-img-container">
            <img class="aboutimg" src="{% static '/images/aboutus.jpeg' %}" alt="about us image">
        </div>
        <div class="aboutus-copy">
            <h1 class="aboutus-title"><strong>Dear China to Kenya importer...</strong></h1>
            <p class="intro-copy">If you are like most importers, you know that shipping from China to Kenya is very tiresome and time consuming, right? And if you are shipping for the first time, it's even <strong>harder</strong></p>
            <p class="intro-copy">That's why we started this service... to make it much easier for you to import from China to Kenya.</p>
            <h1 class="howitworks"><strong>Let me show you in brief, how we help you ship easily</strong></h1>
            <h2 class="step"><strong>Step #1</strong></h2>
            <p>We connect you with genuine product manufacturers in China. Our mission is to get you only the best manufacturer that matches your needs</p>
            <div class="howitworks-imgs"><img src="{% static '/images/genuinefactory.jpeg' %}" alt=""></div>
            <h2 class="step"><strong>Step #2</strong></h2>
            <p>We negotiate for samples and the best prices on your behalf.</p>
            <p>We advise you on how to pay with safe methods. You can also let us pay on your behalf. The choice is yours</p>
            <div class="howitworks-imgs"><img src="{% static '/images/negotiate.jpeg' %}" alt=""></div>
            <h2 class="step"><strong>Step #3</strong></h2>
            <p>We then connect you with a reliable and trusted shipping agent to Kenya. We want to make sure that your cargo arrives safely. We will monitor shipping progress and will always keep you updated.</p>
            <div class="howitworks-imgs"><img src="{% static '/images/reliableagent.jpeg' %}" alt=""></div>
            <h2 class="step"><strong>Step #4</strong></h2>
            <p>We inspect the cargo once it has arrived. We advise you on how to pay. You collect your cargo.</p>
            <div class="howitworks-imgs"><img src="{% static '/images/collect.jpeg' %}" alt=""></div>
        </div>
        <div class="cta-btns">
            <a class="shipping-btn" href="mailto:kibetharon41@gmail.com">Connect with us on email<span class="ship-arrow">&#10148;</span></a>
            <a class="shopping-btn" href="https://api.whatsapp.com/send?phone=254718448461">Chat with us on WhatsApp<span class="shop-arrow">&#10148;</span></a>
        </div>
    </div>
{% endblock content %}
    