{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="above-fold">
        <div class="quick-benefits-bar">
            <div class="benefits-bar">
                <li><span class="check">&#10004;</span> Stay home safe</li>
                <li><span class="check">&#10004;</span> Easy & convenient</li>
                <li><span class="check">&#10004;</span> Quality Guaranteed</li>
            </div>
        </div>
        <div class="container">
                <h1 class="offer-heading">Kenya's leading <strong>shoes sourcing agent</strong></h1>
               
                <p class="offer-subheading">Helping bulk shoe importers get access to top-notch shoe manufacturers with unbeatable prices. We only work with a few clients per week. Minimum budget of ksh. 100,000 required.</p>
                <div class="cta-btns">
                    <a class="shop-request-btn" href="{% url 'quote:shopping' %}">Leave your request here<span class="ship-arrow">&#10148;</span></a>
                    
                    <a class="shopping-btn" href="https://api.whatsapp.com/send?phone=254718448461">WhatsApp us<span class="shop-arrow">&#10148;</span></a>
                </div>
        </div>
    </div>
    <div class="more-details">
        <div class="part-1">
            <div class="part-1-caption">
                <h2>Quality shoes guarantee</h2>
                <p>Your success is our success. Rest assured knowing that you will always get quality shoes.</p>
                <div class="cta-btns">
                    <a class="shop-request-btn" href="{% url 'quote:shopping' %}">Leave your request here<span class="ship-arrow">&#10148;</span></a>
                </div>
            </div>
            <div class="part-1-img"><img src="{% static 'images/qualityblue.jpeg' %}" alt="image of quality quarantee"></div>
        </div>
        <div class="part-2">
            <div class="part-2-img"><img src="{% static 'images/stayhome.jpeg' %}" alt="stay home and stay safe image"></div>
            <div  class="part-2-caption">
                <h2>Unbeatable prices</h2>
                <p>Increase your profit margins when you source with us. You will get access to quality products at competitive prices. </p>
                <div class="cta-btns">
                    <a class="shop-request-btn" href="{% url 'quote:shopping' %}">Leave your request here<span class="ship-arrow">&#10148;</span></a>
                </div>
            </div>
        </div>
        <div class="part-3">
            <div class="part-3-caption">
                <h2>Save time</h2>
                <p>Source with us and save time so that you can concentrate more on your business. You don't need to waste time searching through alibaba anymore.
                </p>
                <div class="cta-btns">
                    <a class="shop-request-btn" href="{% url 'quote:shopping' %}">Leave your request here<span class="ship-arrow">&#10148;</span></a>
                </div>
            </div>
            <div class="part-3-img"><img src="{% static 'images/savetime.jpeg' %}" alt="save time and money image"></div>
        </div>
        <div class="part-4">
            <div class="part-4-img"><img src="{% static '/images/customersupport.jpeg' %}" alt="quality support image"></div>
            <div class="part-4-caption">
                <h2>Quality support</h2>
                <p>We are always there for you whenever you need us. Your success is our success. We will always reply to your contacts personally and as soon as possible</p>
                <div class="cta-btns">
                    <a class="shop-request-btn" href="{% url 'quote:shopping' %}">Leave your request here<span class="ship-arrow">&#10148;</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutus">
        <div class="about-img-container">
            <img class="aboutimg" src="{% static '/images/aboutus.jpeg' %}" alt="about us image">
        </div>
        <div class="aboutus-copy">
            <h1 class="aboutus-title"><strong>What we do</strong></h1>
            <p class="intro-copy"><strong>If you are like most bulk shoe importers, you know that finding genuine shoe manufacturers is difficult and time consuming</strong>.</p>
            <p class="intro-copy">It's also hard to trust online suppliers with your money.</p>
            <p class="intro-copy">If you are a beginner, it's even <strong>harder</strong>.</p>
            <p class="intro-copy">That's why we want to help you source quality products from 100% genuine manufacturers.</p>
            <h1 class="howitworks"><strong>Let me show you how easy it is to work with us</strong></h1>
            <h2 class="step"><strong>Step #1</strong></h2>
            <p>You send us your request. Note that you must have a minimum budget of ksh. 100,000. We will contact you once we receive your request.</p>
            <div class="howitworks-imgs"><img src="{% static '/images/genuinefactory.jpeg' %}" alt=""></div>
            <h2 class="step"><strong>Step #2</strong></h2>
            <p>We proceed to get the right manufacturer for you. We will offer you the best prices within 3 working days. We guarantee you quality products at the best prices possible.</p>
            <div class="howitworks-imgs"><img src="{% static '/images/negotiate.jpeg' %}" alt=""></div>
            <h2 class="step"><strong>Step #3</strong></h2>
            <p>We arrange for samples. After confirming that you are totally satisfied with the sample, we will then confirm your product run with the suppler. </p>
            <div class="howitworks-imgs"><img src="{% static '/images/reliableagent.jpeg' %}" alt=""></div>
            <h2 class="step"><strong>Step #4</strong></h2>
            <p>We then make a bulk order and pay on your behalf. We will also advise on shipping your cargo</p>
            <div class="howitworks-imgs"><img src="{% static '/images/collect.jpeg' %}" alt=""></div>
        </div>
        <div class="cta-btns">
            <a class="shop-request-btn" href="mailto:kibetharon41@gmail.com">Leave your request here<span class="ship-arrow">&#10148;</span></a>
                    
            <a class="shopping-btn" href="https://api.whatsapp.com/send?phone=254718448461">WhatsApp us<span class="shop-arrow">&#10148;</span></a>
        </div>
        <!-- <div class="clients">
            <h1><strong>Who we work with</strong></h1>
            <div><img src="{% static '/images/clients.jpeg' %}" alt=""></div>
            <p>Many of you have inquired about who we work with. Since we offer free services, we only work with importers with a <strong>minimum budget of ksh. 100, 000. We do this to make sure that we guarantee quality services</strong></p>
            <h1><strong>Important point to note</strong></h1>
            <p>We <strong>only serve a few sourcing clients at a go</strong>. Actually one per week. Sometimes you will have to join our waiting list. However, we accept many shipping clients. <strong>If you already have shopped for your goods, but only want us to connect you with a genuine shipping agent, we will be more than happy to server</strong></p>
        </div>
    </div> -->
{% endblock content %}
    