{% load static %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TBGDC6T');</script> -->
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156439327-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-156439327-2');
    </script>

    <!-- Hotjar Tracking Code for www.shipfromchinatokenya.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1946300,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        Shipping
    {% endblock title %}
        </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% fontawesome_5_static %}
    <script type="text/javascript">
        var user = '{{request.user}}'
    </script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TBGDC6T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript> -->
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">
        <header>
            <nav>
                <div class="logo"><a href="{% url 'quote:home' %}"><strong>Ship from China to Kenya</strong></a></div>
                    <div class="contact">
                        <div class="phone"><a href="tel:+254718448461">Call Us</a></div>
                        <div class="phone"><a href="mailto:kibetharon@outlook.com">Email us</a></div>
                        <div class="menu">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                            <div class="line-3"></div>
                        </div>
                    </div>
                <ul class="navLinks">
                    <li><a href="{% url 'quote:about' %}">Who we are</a></li>
                    <!-- <li><a href="">How it works</a></li> -->
                    <li><a href="{% url 'contact:contact' %}">Contact us</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="logout" href="{% url 'users:logout' %}">Logout</a></li>
                    {% else %}
                    <li><a class="login" href="{% url 'users:signin' %}">Login</a></li>
                    <li><a class="register" href="{% url 'users:register' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <section>
                
                {% block content %}
                    
                {% endblock content %}
                    
            </section>
        </main>
        <footer>
            <div class="footer-links">
                <li><a href="{% url 'quote:about' %}">About</a></li>
                <li><a href="{% url 'contact:contact' %}">Contact us</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'users:logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'users:signin' %}">Login</a></li>
                    <li><a href="{% url 'users:register' %}">Signup</a></li>
                    {% endif %}
                <li><a href="mailto:kibetharon@outlook.com">Email us</a></li>
                <li><a href="tel:+254718448461">Call us</a></li>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <!-- GetButton.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+254718448461", // WhatsApp number
                call_to_action: "Message us", // Call to action
                position: "right", // Position may be 'right' or 'left'
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- /GetButton.io widget -->
</body>
</html>